/* 弹窗样式 */
.modal {
    display: none; /* 初始时隐藏弹窗 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 半透明的背景颜色 */
}

.modal .modal-content {
    background-color: white;
    margin: auto;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
    border: 1px solid #888;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal .checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;

}
.modal .checkbox {
    margin-right: 10px;
    margin-bottom: 10px;
}