.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* 退出图标按钮悬停样式 */
.exit-button:hover {
    background-color: rgba(170, 170, 170, 0.7)
}